
html
  head
    title Authenticated
  
    body Authenticated successfully.
    script.
        window.opener.postMessage({
           token:'#{token}'
        }, "*");
        //window.opener.authenticateCallback('{token}');
        window.close();
